<!-- Author: Elena Nastina -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Loyalty Hub</title>
    <link rel="stylesheet" href="style.css">
    <script>
      const loggedIn = <%= loggedIn %>
      let points = <%- points ? JSON.stringify(points.stores) : '{}' %>
    </script>
    <script src="list.js" defer></script>

    <!-- Creates a template that is then cloned for all shop cards.
     Template is hidden. A clone template is then filled in with information -->
    <template id="store-card">
      <div id='store-parent' class="store-card">
        <div class="card-title">
          <h1 id='store-name'>N/A</h1>
          <div class="card-category">
            <p id='store-category'>Category: N/A</p>
          </div>
        </div>
        <p id='store-description'>N/A</p>
        <a id='store-website'>N/A</a>
        <h2>Promotions</h2>
        <p id='store-promotions'>N/A</p>
        <h2>Location</h2>
        <a id='store-location'>N/A</a>
        <% if (loggedIn) { %>
          <h2>Points</h2>
          <a id='store-points'>N/A</a>
          <form action="add_points.html" method="post">
            <input id='store-id' type="hidden" name="id" value="bar" />
            <input class="add-points" type="number" name="points" placeholder="Number of points to add (can be negative)" required>
            <input class="add-points-button" type="submit" value="Add Points" />
          </form>
        <% } %>
      </div>
    </template>
  </head>
  <body>
    <!-- Banner code, same as on the main page. Includes additional
     functions such as search and home functions-->
    <div class="header">

      <div class="title">
        <h1>Welcome To Your Loyalty Hub<%= loggedIn ? user.name ? ', ' + user.name : '' : '' %></h1>
      </div>

      <div class="search-elems">
        <input type="text" placeholder="Search: Name | Category" id="search">
        <img class="search-button" src="images/Search icon.svg" onclick="searchByName()" />
        <img class="search-button" src="images/Category search icon.svg" onclick="searchByCategory()" />
      </div>

      <img class="icon" src="images/Home icon.svg" onclick="location.href='/'" />

    </div>
    <% if (messages.error) { %>
      <p>Error: <%= messages.error %></p>
    <% } %>
    <!-- container that will hold all shop cards and the title of the page (List of stores)  -->
    <div id='content-list'>

      <div class="title">
        <h1>List Of Stores</h1>
      </div>

    </div>
    <!-- Footer container, exactly the same as on the main page -->
    <div class="footer">

      <a href="faq.html">FAQ</a>
      <a href="tc.html">Terms & Conditions</a>
      <a href="pp.html">Privacy Policy</a>
      <a href="mailto:support@yourloyaltyhub.com">Contact Us</a>

    </div>
  </body>
</html>
