<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="login.css">

<title>Your Loyalty Hub</title>
<link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="header">

    <div class="title">
      <h1>Login</h1>
    </div>

  </div>


<form action="/login.html" method="post">
  </div>

  <div class="container">
    <% if (messages.error) { %>
      <p>Error: <%= messages.error %></p>
    <% } %>
    <label for="username"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" id="sign-up-button">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" onclick="location.href='/'">Cancel</button>
    <link class="psw"><a href='./signUp.html'>Create an Account</a></link>
  </div>
</form>


</body>
</html>
