<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="login.css">

</head>
<body>
  <div class="header">

    <div class="title">
      <h1>Profile</h1>
    </div>

  </div>


<form action="/profile.html" method="post">

  </div>

  <div class="container">
    <% if (messages.error) { %>
      <p>Error: <%= messages.error %></p>
    <% } %>
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" value="<%= user.name %>">

    <label for="phone"><b>Phone Number</b></label>
    <input type="text" placeholder="Irish Number E.g +353 999999999" name="phone" value="<%= user.phone %>">

    <label for="mail"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" value="<%= user.email %>" required>

    <p><b>Unique Loyalty Card Number</b></p>
    <p><%= user.card_number %></p>

    <button type="submit">Update Profile</button>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" onclick="location.href='/'">Go Home</button>
    </div>
  </div>
</form>

</body>
</html>
